
/* -- ICON STYLES ----------------------------- */
.icon-16-archive {
	background-image: url(../images/menu/icon-16-archive.png);
}
.icon-16-article {
	background-image: url(../images/menu/icon-16-article.png);
}
.icon-16-banners {
	background-image: url(../images/menu/icon-16-banner.png);
}
.icon-16-banners-clients {
	background-image: url(../images/menu/icon-16-banner-client.png);
}
.icon-16-banners-tracks {
	background-image: url(../images/menu/icon-16-banner-tracks.png);
}
.icon-16-banners-cat {
	background-image: url(../images/menu/icon-16-banner-categories.png);
}
.icon-16-category {
	background-image: url(../images/menu/icon-16-category.png);
}
.icon-16-checkin {
	background-image: url(../images/menu/icon-16-checkin.png);
}
.icon-16-clear {
	background-image: url(../images/menu/icon-16-clear.png);
}
.icon-16-component {
	background-image: url(../images/menu/icon-16-component.png);
}
.icon-16-config {
	background-image: url(../images/menu/icon-16-config.png);
}
.icon-16-content {
	background-image: url(../images/menu/icon-16-content.png);
}
.icon-16-contact {
	background-image: url(../images/menu/icon-16-contacts.png);
}
.icon-16-contact-cat {
	background-image: url(../images/menu/icon-16-contacts-categories.png);
}
.icon-16-cpanel, .icon-16-cpanelmenu {
	background-image: url(../images/menu/icon-16-cpanel.png);
}
.icon-16-default {
	background-image: url(../images/menu/icon-16-default.png);
}
.icon-16-featured {
	background-image: url(../images/menu/icon-16-featured.png);
}
.icon-16-groups {
	background-image: url(../images/menu/icon-16-groups.png);
}
.icon-16-help {
	background-image: url(../images/menu/icon-16-help.png);
}
.icon-16-help-this {
	background-image: url(../images/menu/icon-16-help-this.png);
}
.icon-16-help-forum {
	background-image: url(../images/menu/icon-16-help-forum.png);
}
.icon-16-help-docs {
	background-image: url(../images/menu/icon-16-help-docs.png);
}
.icon-16-help-jed {
	background-image: url(../images/menu/icon-16-help-jed.png);
}
.icon-16-help-jrd {
	background-image: url(../images/menu/icon-16-help-jrd.png);
}
.icon-16-help-trans {
	background-image: url(../images/menu/icon-16-help-trans.png);
}
.icon-16-help-community {
	background-image: url(../images/menu/icon-16-help-community.png);
}
.icon-16-help-security {
	background-image: url(../images/menu/icon-16-help-security.png);
}
.icon-16-help-dev {
	background-image: url(../images/menu/icon-16-help-dev.png);
}
.icon-16-help-shop {
	background-image: url(../images/menu/icon-16-help-shop.png);
}
.icon-16-info {
	background-image: url(../images/menu/icon-16-info.png);
}
.icon-16-install, .icon-16-installmenu {
	background-image: url(../images/menu/icon-16-install.png);
}
.icon-16-language {
	background-image: url(../images/menu/icon-16-language.png);
}
.icon-16-levels {
	background-image: url(../images/menu/icon-16-levels.png);
}
.icon-16-logout {
	background-image: url(../images/menu/icon-16-logout.png);
}
.icon-16-maintenance {
	background-image: url(../images/menu/icon-16-maintenance.png);
}
.icon-16-massmail {
	background-image: url(../images/menu/icon-16-massmail.png);
}
.icon-16-media {
	background-image: url(../images/menu/icon-16-media.png);
}
.icon-16-menu {
	background-image: url(../images/menu/icon-16-menu.png);
}
.icon-16-menumgr {
	background-image: url(../images/menu/icon-16-menumgr.png);
}
.icon-16-messages {
	background-image: url(../images/menu/icon-16-messaging.png);
}
.icon-16-messages-add {
	background-image: url(../images/menu/icon-16-new-privatemessage.png);
}
.icon-16-messages-read {
	background-image: url(../images/menu/icon-16-messages.png);
}
.icon-16-module {
	background-image: url(../images/menu/icon-16-module.png);
}
.icon-16-newarticle {
	background-image: url(../images/menu/icon-16-new.png);
}
.icon-16-newcategory {
	background-image: url(../images/menu/icon-16-new.png);
}
.icon-16-newgroup {
	background-image: url(../images/menu/icon-16-new.png);
}
.icon-16-newlevel {
	background-image: url(../images/menu/icon-16-new.png);
}
.icon-16-newuser {
	background-image: url(../images/menu/icon-16-new.png);
}
.icon-16-plugin {
	background-image: url(../images/menu/icon-16-plugin.png);
}
.icon-16-profile {
	background-image: url(../images/menu/icon-16-profile.png);
}
.icon-16-purge {
	background-image: url(../images/menu/icon-16-purge.png);
}
.icon-16-readmess {
	background-image: url(../images/menu/icon-16-readmess.png);
}
.icon-16-redirect {
	background-image: url(../images/menu/icon-16-redirect.png);
}
.icon-16-search, .icon-16-finder {
	background-image: url(../images/menu/icon-16-search.png);
}
.icon-16-section {
	background-image: url(../images/menu/icon-16-section.png);
}
.icon-16-static {
	background-image: url(../images/menu/icon-16-static.png);
}
.icon-16-stats {
	background-image: url(../images/menu/icon-16-stats.png);
}
.icon-16-themes {
	background-image: url(../images/menu/icon-16-themes.png);
}
.icon-16-trash {
	background-image: url(../images/menu/icon-16-trash.png);
}
.icon-16-user {
	background-image: url(../images/menu/icon-16-user.png);
}
.icon-16-back-user {
	background-image: url(../images/menu/icon-16-back-user.png);
}
.icon-16-writemess {
	background-image: url(../images/menu/icon-16-writemess.png);
}
.icon-16-newsfeeds {
	background-image: url(../images/menu/icon-16-newsfeeds.png);
}
.icon-16-newsfeeds-cat {
	background-image: url(../images/menu/icon-16-newsfeeds-cat.png);
}
.icon-16-weblinks {
	background-image: url(../images/menu/icon-16-links.png);
}
.icon-16-weblinks-cat {
	background-image: url(../images/menu/icon-16-links-cat.png);
}
.icon-16-cpanelmenu {
	background-position: 50% 50% !important;
}
.icon-16-installmenu {
	background-position: 50% 50% !important;
}